.timer {
  width: 100%;
  height: 43.2rem;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: all 0.3s;

  &__circle {
    width: 30rem;
    height: 30rem;

    background: $bg-color-primary;
    border: 0.8rem solid rgba($color-primary, 0.8);
    border-radius: 50%;

    margin-top: 3.6rem;

    background-position: center center;
    box-shadow: 0 0.3rem 0.8rem -2rem $shadow-primary;
    transition: box-shadow 0.5s;
    will-change: transform;

    &:hover {
      box-shadow: 0 0.3rem 2.8rem -0.4rem $shadow-secondary;
    }
  }
}

.counter {
  line-height: 1.5;
  user-select: none;
  text-align: center;
  margin-top: 1rem;

  @include absolute-center;

  &__heading,
  &__title {
    background: $color-text;
    color: transparent;
    text-shadow: 0.1rem 0.1rem 0.1rem rgba(255, 255, 255, 0.4);
    background-clip: text;
  }

  &__heading {
    font-weight: 300;
    font-size: 6.4rem;

    display: flex;

    & > span {
      margin: 0 1.5rem;
    }
  }

  &__title {
    font-weight: 400;
    font-size: 2.8rem;
    text-transform: uppercase;
  }
}
