.titlebar {
  width: 100%;
  height: 3.2rem;

  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 10rem 1fr 10rem;
  align-items: center;

  background: $bg-color-primary;
  -webkit-app-region: drag;

  &__menu {
    justify-self: start;
  }

  &__title {
    display: flex;
    justify-content: center;
    justify-self: center;

    color: $color-primary;
    font-weight: 400;
    user-select: none;
  }

  &__icon {
    justify-self: end;

    display: grid;
    grid-auto-flow: column;
    grid-column-gap: 0.1rem;
    -webkit-app-region: no-drag;
  }
}

.menu {
  width: 5.2rem;
  height: 3.2rem;
  position: relative;
  -webkit-app-region: no-drag;

  &:hover {
    background: $bg-color-tertiary;
  }
}

.menu-box {
  @include absolute-center;

  &__icon {
    height: 0.2rem;
    max-width: 2rem;
    background: $color-text;

    &--1 {
      width: 2rem;
    }

    &--2 {
      width: 1rem;
      margin-top: 0.4rem;
    }
  }
}

.minimize,
.exit {
  width: 4.6rem;
  height: 3.2rem;

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 1000;
}

.minimize {
  &:hover {
    background: $bg-color-tertiary;
  }

  &__icon {
    width: 1.2rem;
    height: 1.2rem;
    fill: $color-text;
  }
}

.exit {
  &:hover {
    background: $color-error;
  }

  &:hover &__icon {
    fill: $bg-color-primary;
  }

  &__icon {
    width: 1.2rem;
    height: 1.2rem;
    fill: $color-text;
  }
}
