/node_modules
/.pnp
.pnp.js

/coverage

/dist
/build

.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

productivity-timer_*
.idea/
