language: node_js
node_js: "stable"

# cache some files for faster builds
cache:
  yarn: true
  directories:
    - node_modules
    - app/node_modules
    - $HOME/.cache/electron
    - $HOME/.cache/electron-builder

# Add global environment
env:
  global:
    - ELECTRON_CACHE=$HOME/.cache/electron
    - ELECTRON_BUILDER_CACHE=$HOME/.cache/electron-builder

# Locate the app folder
before_install:
  - cd app

# Making the build process parallel: one on mac and one on linux
jobs:
  include:
    - os: osx
      osx_image: xcode10.2

    - os: linux
      dist: xenial

# only deploy to github on a merge to the master branch
deploy:
  provider: script
  script: bash deploy.travis.sh
  skip_cleanup: true
  github_token: $GH_TOKEN
  on:
    branch: master

before_cache:
  - rm -rf $HOME/.cache/electron-builder/wine

# only run this script on pull requests and merges into
# the 'master' branches
branches:
  only:
    - master
