.btn {
  color: inherit;
  font-size: 1.4rem;
  text-transform: capitalize;
  user-select: none;

  padding: 0.8rem 1.6rem;

  border-radius: 0.5rem;
  background: $bg-color-secondary;
  box-shadow: 0 0.4rem 0.8rem $shadow-primary;

  transition: all 0.2s;

  &:hover {
    background: $surface-16;
    transform: translateY(-0.4rem);
    box-shadow: 0 0.8rem 1.6rem $shadow-primary;
  }

  &:active {
    background: $bg-color-secondary;
    transform: translateY(-0.2rem);
    box-shadow: 0 0.2rem 0.4rem $shadow-primary;
  }
}
