.btn {
  min-width: 11.2rem;
  min-height: 3.2rem;

  user-select: none;
  font-size: 1.4rem;
  text-transform: capitalize;

  border-radius: 0.3rem;

  &:hover {
    @include themed() {
      color: t($color-primary);
    }
  }
  @include surface-8-color;

  &--primary,
  &--secondary {
    &:hover {
      @include themed() {
        box-shadow: 0 0.4rem 0.8rem
          set-color(t($color-primary), t($surface-color-2), t($shadow-primary));
      }
    }

    &:active {
      @include themed() {
        transform: translateY(-0.1rem);
        box-shadow: 0 0.4rem 0.8rem
          set-color(t($color-primary), t($surface-color-2), t($shadow-primary));
      }
    }
  }

  &--primary {
    @include themed() {
      color: set-color(
        t($color-primary),
        t($surface-color-0),
        t($surface-color-16)
      );
      background: t($color-primary);
      box-shadow: 0 0.2rem 0.4rem
        set-color(t($color-primary), t($surface-color-2), t($shadow-primary));
    }
    &:hover {
      @include themed() {
        color: set-color(
          t($color-primary),
          t($surface-color-0),
          t($surface-color-16)
        );
        background: t($color-primary);
      }
    }
  }

  &--secondary {
    @include themed() {
      color: t($color-primary);
      background: set-color(
        t($color-primary),
        t($surface-color-24),
        t($surface-color-16)
      );

      box-shadow: 0 0.1rem 0.2rem t($shadow-primary);

      &:hover {
        background: set-color(
          t($color-primary),
          t($surface-color-24),
          t($surface-color-16)
        );
      }
    }
  }
}
