.control {
  width: 100%;
  height: max-content;
  min-width: 40rem;
  min-height: 13.6rem;

  display: grid;
  align-items: center;
  justify-content: center;
  user-select: none;

  transition: opacity 0.2s ease, visibilty 0.3s ease;

  &__box {
    width: 100%;
    height: max-content;
    margin: 0 2.4rem;

    display: grid;
    grid-gap: 1.6rem;
    grid-template-columns: max-content max-content;
    align-items: center;
    justify-items: center;
  }
}

.session {
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}

.action {
  display: grid;
  grid-column-gap: 2rem;
  grid-template-columns: repeat(4, max-content);
  align-items: center;

  &__reset,
  &__next,
  &__volume {
    width: 3.6rem;
    height: 3.6rem;

    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    @include surface-2-color;

    &:hover {
      @include themed() {
        color: t($color-primary);
      }
    }

    &.short-break {
      &:hover {
        @include themed() {
          color: t($color-secondary);
        }
      }
    }

    &.long-break {
      &:hover {
        @include themed() {
          color: t($color-tertiary);
        }
      }
    }
  }

  &__play {
    width: 7.5rem;
    height: 7.5rem;

    border-radius: 50%;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    @include surface-8-color;

    &:hover {
      @include themed() {
        color: t($color-primary);
      }
    }

    &.short-break {
      &:hover {
        @include themed() {
          color: t($color-secondary);
        }
      }
    }

    &.long-break {
      &:hover {
        @include themed() {
          color: t($color-tertiary);
        }
      }
    }
  }

  &__right {
    display: grid;
    grid-column-gap: 1.6rem;
    grid-template-columns: repeat(2, 1fr);
  }
}

.play {
  width: 7.5rem;
  height: 7.5rem;

  display: flex;
  align-items: center;
  justify-content: center;

  & + s {
    @include themed() {
      background: rgba(t($color-primary), 0.16) !important;
    }
  }

  &.short-break {
    & + s {
      @include themed() {
        background: rgba(t($color-secondary), 0.16) !important;
      }
    }
  }

  &.long-break {
    & + s {
      @include themed() {
        background: rgba(t($color-tertiary), 0.16) !important;
      }
    }
  }

  &__play-btn,
  &__pause-btn {
    width: 3.2rem;
    height: 3.2rem;
    fill: currentColor;
  }
}

.reset,
.next,
.volume {
  width: 3.6rem;
  height: 3.6rem;

  display: flex;
  align-items: center;
  justify-content: center;

  & + s {
    @include themed() {
      background: rgba(t($color-primary), 0.16) !important;
    }
  }

  &.short-break {
    & + s {
      @include themed() {
        background: rgba(t($color-secondary), 0.16) !important;
      }
    }
  }

  &.long-break {
    & + s {
      @include themed() {
        background: rgba(t($color-tertiary), 0.16) !important;
      }
    }
  }
}

.reset__icon,
.next__icon,
.volume__on,
.volume__off {
  width: 2.4rem;
  height: 1.8rem;
  fill: currentColor;
}
