.modal {
  width: 100%;
  height: 100vh;

  position: fixed;
  top: 3.2rem;
  left: 0;

  backdrop-filter: blur(1rem);

  @include themed() {
    background: set-color(
      t($color-primary),
      rgba(t($surface-color-0), 0.5),
      rgba(t($shadow-primary), 0.5)
    );
  }
}

.window {
  width: 30rem;
  height: max-content;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  user-select: none;

  @include themed() {
    background: set-color(
      t($color-primary),
      t($surface-color-24),
      t($surface-color-16)
    );
    box-shadow: 0 1.2rem 2.4rem t($shadow-primary);
  }

  &__titlebar {
    width: 100%;
    height: 3.2rem;

    display: grid;
    grid-template-columns: max-content 1fr max-content max-content;
    align-items: center;

    -webkit-app-region: drag;

    @include themed() {
      border-bottom: 0.1rem solid
        set-color(t($color-primary), t($surface-color-2), t($surface-color-2));
    }

    & .minimize {
      @include themed() {
        color: set-color(
          t($color-primary),
          t($body-text-color),
          t($disabled-text-color)
        );
        &:hover {
          background: transparent;
        }
      }
    }

    & .exit {
      -webkit-app-region: no-drag;
    }
  }

  &__icon {
    width: 2rem;
    height: 2rem;
    margin-left: 0.8rem;
  }

  &__title {
    margin-left: 0.8rem;
    -webkit-app-region: drag;
  }

  &__body {
    width: 100%;
    min-height: calc(100% - 3.2rem);
  }
}

.update {
  display: grid;
  gap: 0.8rem;
  padding: 1.2rem 1.6rem 1.6rem;

  @include themed() {
    background: t($surface-color-8);
  }

  &__label {
    display: flex;
    justify-content: space-between;

    &--heading,
    &--indicator {
      font-weight: 300;
      font-size: 1.4rem;
      @include themed() {
        color: t($heading-text-color);
      }
    }
  }

  &__progress {
    position: relative;
    width: 100%;
    height: 2rem;
    &--base,
    &--indicator {
      width: 100%;
      height: 100%;

      position: absolute;
      top: 0;
      left: 0;
      border-radius: 10rem;
    }

    &--base {
      @include themed() {
        background: set-color(
          t($color-primary),
          t($surface-color-2),
          t($surface-color-0)
        );
        box-shadow: inset 0 0.2rem 0.4rem
          set-color(t($color-primary), t($surface-color-0), t($shadow-primary));
      }
    }
    &--indicator {
      transition: all 0.3s ease;
      @include themed() {
        width: 0;
        background: t($color-primary);
      }
    }
  }
}

.restart {
  display: grid;
  gap: 2rem;

  padding: 1.6rem;
  text-align: center;

  @include themed() {
    background: t($surface-color-8);
  }

  &__header {
    &--heading {
      font-weight: 400;
      font-size: 2rem;
      @include themed() {
        color: t($heading-text-color);
      }
    }
    &--sub-heading {
      @include themed() {
        color: t($body-text-color);
      }
    }
  }

  &__cta {
    width: 100%;
    height: max-content;

    display: grid;
    gap: 0.8rem;
    grid-template-columns: repeat(2, max-content);
    justify-content: center;
    &--later-btn {
    }

    &--now-btn {
    }
  }
}
