.switch {
  width: 2.8rem;
  height: 1.6rem;
  position: relative;

  appearance: none;
  border-radius: 5rem;

  @include themed() {
    background: t($surface-color-0);
    box-shadow: inset 0 0 0.2rem t($shadow-primary);
  }

  transition: all 0.5s;

  &:checked {
    @include themed() {
      background: t($color-primary);
    }
  }

  &::before {
    content: "";
    width: 1.6rem;
    height: 1.6rem;

    position: absolute;
    top: 0;
    left: 0;

    @include themed() {
      border-radius: 5rem;
      background: t($surface-color-16);
      box-shadow: 0 0.2rem 0.4rem t($shadow-primary);
      transform: scale(1.1);
    }

    transition: all 0.3s;
  }

  &:checked::before {
    left: 50%;
  }
}
