.switch {
  width: 2.8rem;
  height: 1.6rem;
  position: relative;

  appearance: none;
  border-radius: 5rem;
  background: $border-secondary;
  box-shadow: inset 0 0 0.2rem $shadow-tertiary;

  transition: all 0.5s;

  &:checked {
    background: $color-primary;
  }

  &::before {
    content: "";
    width: 1.6rem;
    height: 1.6rem;

    position: absolute;
    top: 0;
    left: 0;

    border-radius: 5rem;
    background: $bg-color-secondary;
    box-shadow: 0 0.2rem 0.4rem $shadow-primary;
    transform: scale(1.1);
    transition: all 0.3s;
  }

  &:checked::before {
    left: 50%;
  }
}
