.timer {
  width: 100%;
  height: 43.2rem;

  display: flex;
  align-items: flex-end;
  justify-content: center;

  &__counter {
    position: relative;
  }
}

.progress {
  width: 32rem;
  height: 32rem;
  margin-bottom: 2rem;
  transform: rotateY(-180deg) rotateZ(-90deg);

  &__circle {
    fill: none;

    &#circle-base {
      @include themed() {
        stroke-width: 0.8rem;
        stroke: t($surface-color-0);
      }
    }

    &#circle-counter {
      @include themed() {
        stroke: t($color-primary);
      }
      stroke-width: 0.4rem;
      stroke-dasharray: 98rem;
      stroke-dashoffset: 0;
      stroke-linecap: round;
      transition: stroke-dashoffset 1s linear;
    }
  }
}

.countdown {
  width: max-content;

  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  user-select: none;

  @include absolute-center;

  display: grid;
  grid-row-gap: 2rem;

  &__timer {
    display: flex;
    justify-content: center;
    font-size: 6.4rem;
    @include themed() {
      color: t($color-primary);
    }

    span {
      margin: 0 0.8rem;
    }
  }

  &__heading {
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: 0.4rem;
    @include themed() {
      color: t($body-text-color);
    }
  }
}
