.timer {
  width: 100%;
  height: 43.2rem;

  display: flex;
  align-items: flex-end;
  justify-content: center;

  &__counter {
    position: relative;
  }
}

.progress {
  width: 32rem;
  height: 32rem;
  margin-bottom: 2rem;
  transform: rotateY(-180deg) rotateZ(-90deg);

  &__circle {
    fill: none;

    &#circle-base {
      stroke: #eee;
      stroke-width: 0.8rem;
    }

    &#circle-counter {
      stroke-width: 0.4rem;
      stroke: $color-primary;
      stroke-dasharray: 98rem;
      stroke-dashoffset: 0;
      stroke-linecap: round;
      transition: stroke-dashoffset 1s linear;
    }
  }
}

.countdown {
  width: max-content;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  user-select: none;

  display: grid;
  grid-row-gap: 2rem;

  &__timer {
    display: flex;
    justify-content: center;
    font-size: 6.4rem;
    color: $color-primary;

    span {
      margin: 0 0.8rem;
    }
  }

  &__heading {
    font-size: 2rem;
    font-weight: 500;
    color: $color-text-secondary;
    letter-spacing: 0.4rem;
  }
}
