.titlebar {
  width: 100%;
  height: 3.2rem;

  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 10rem 1fr 10rem;
  align-items: center;

  @include bg-color;

  -webkit-app-region: drag;
  cursor: pointer;
  transition: opacity 0.2s ease, visibilty 0.3s ease;

  &__option {
    justify-self: start;
    max-height: 3.2rem;

    display: flex;
    align-items: center;
  }

  &__title {
    display: flex;
    justify-content: center;
    justify-self: center;

    color: currentColor;
    font-weight: 400;
    user-select: none;
  }

  &__icon {
    justify-self: end;

    display: grid;
    grid-auto-flow: column;
    grid-column-gap: 0.1rem;
    -webkit-app-region: no-drag;
  }
}

.menu {
  width: 5rem;
  height: 3.2rem;
  position: relative;
  -webkit-app-region: no-drag;

  border-radius: 0 0 0.3rem 0;
  transition: all 0.2s ease;

  &:hover,
  &.active {
    @include themed() {
      background: set-hover-bg-color(
        t($color-primary),
        rgba(t($heading-text-color), 0.1),
        rgba(t($heading-text-color), 0.1)
      );
    }
  }

  .menu-box {
    @include absolute-center;

    &__icon {
      height: 0.2rem;
      max-width: 2rem;
      border-radius: 10rem;

      @include themed() {
        background: set-color(
          t($color-primary),
          t($heading-text-color),
          t($body-text-color)
        );
      }

      &--1,
      &--2 {
        transition: all 0.3s ease-out;
      }

      &--1 {
        width: 2rem;

        &.active {
          width: 1rem;
          margin-top: -0.5rem;

          transform-origin: right;
          transform: rotate(-45deg);
        }
      }

      &--2 {
        width: 1rem;
        margin-top: 0.6rem;

        &.active {
          width: 1rem;
          margin-top: 0.8rem;

          transform-origin: bottom;
          transform: rotate(45deg);
        }
      }
    }
  }
}

.mode {
  width: 4rem;
  height: 3.2rem;
  margin-left: 0.1rem;

  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-app-region: no-drag;

  @include themed() {
    color: set-color(
      t($color-primary),
      t($heading-text-color),
      t($body-text-color)
    );
    transition: all 0.2s ease;

    &:hover {
      color: set-color(
        t($color-primary),
        t($heading-text-color),
        t($body-text-color)
      );
      background: set-hover-bg-color(
        t($color-primary),
        rgba(t($heading-text-color), 0.1),
        rgba(t($heading-text-color), 0.1)
      );
    }
  }

  &__icon {
    width: 1.4rem;
    height: 1.4rem;
    fill: currentColor;
    margin-top: 0.2rem;
  }
}

.minimize,
.exit {
  width: 4.6rem;
  height: 3.2rem;

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 1000;
}

.minimize {
  &:hover {
    @include themed() {
      background: set-hover-bg-color(
        t($color-primary),
        rgba(t($heading-text-color), 0.16),
        rgba(t($heading-text-color), 0.16)
      );
    }
  }

  &__icon {
    width: 1.2rem;
    height: 1.2rem;
    fill: currentColor;
  }
}

.exit {
  &:hover {
    @include themed() {
      color: #fff;
      background: t($color-error);
    }
  }

  &:hover &__icon {
    fill: currentColor;
  }

  &__icon {
    width: 1.2rem;
    height: 1.2rem;
    fill: currentColor;
  }
}
