.toggle {
  width: 100%;
  height: 5.4rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 0.1rem solid transparent;
  @include themed() {
    border-bottom: 0.1rem solid t($border-primary);
  }

  &__name {
    width: 90%;
    height: 100%;
    font-weight: 400;

    display: flex;
    align-items: center;
    user-select: none;
  }
}
