@import "./base/fonts";
@import "./base/variables";
@import "./base/resets";
@import "./base/mixins";

@import "./components/titlebar";
@import "./components/timer";
@import "./components/control";
@import "./components/slider";
@import "./components/header";
@import "./components/header";
@import "./components/button";
@import "./components/switch";
@import "./components/toggle";
@import "./components/shortcut";

@import "./containers/config";
@import "./containers/counter";
