@mixin text-color {
  @include themed() {
    color: set-color(
      t($color-primary),
      t($heading-text-color),
      t($body-text-color)
    );
  }
}

@mixin bg-color {
  @include themed() {
    background: set-color(
      t($color-primary),
      t($surface-color-2),
      t($surface-color-16)
    );
  }
}

@mixin colored {
  @include text-color;
  @include bg-color;
}

@mixin surface-2-color {
  @include text-color;
  @include themed() {
    background: set-color(
      t($color-primary),
      t($surface-color-2),
      t($surface-color-16)
    );
  }
  transition: all 0.2s;

  &:hover {
    transform: translateY(-0.4rem);
    @include themed() {
      background: set-color(
        t($color-primary),
        t($surface-color-8),
        t($surface-color-16)
      );
      box-shadow: 0 0.4rem 0.8rem t($shadow-primary);
    }
  }

  &:active {
    transform: translateY(-0.2rem);
    @include themed() {
      background: set-color(
        t($color-primary),
        t($surface-color-2),
        t($surface-color-16)
      );
      box-shadow: 0 0.2rem 0.4rem t($shadow-primary);
    }
  }
}

@mixin surface-8-color {
  @include text-color;
  @include themed() {
    background: set-color(
      t($color-primary),
      t($surface-color-8),
      t($surface-color-16)
    );
    box-shadow: 0 0.4rem 0.8rem t($shadow-primary);
  }
  transition: all 0.2s;

  &:hover {
    @include themed() {
      transform: translateY(-0.4rem);
      background: t($surface-color-16);
      box-shadow: 0 0.8rem 1.6rem t($shadow-primary);
    }
  }

  &:active {
    @include themed() {
      transform: translateY(-0.2rem);
      background: set-color(
        t($color-primary),
        t($surface-color-8),
        t($surface-color-16)
      );
      box-shadow: 0 0.4rem 0.8rem t($shadow-primary);
    }
  }
}

@mixin absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
