*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  @include colored;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.7;
  letter-spacing: 0.04rem;
}

button,
input {
  border: none;
  font-size: inherit;
  font-family: inherit;
}

.app {
  max-width: 40rem;
  height: 60rem;
  overflow: hidden;

  &__body {
    position: relative;
  }
}

::selection {
  @include themed() {
    color: t($heading-text-color);
    background: t($color-primary);
  }
}
