*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  @include colored;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.7;
  letter-spacing: 0.04rem;
  overflow: hidden;
}

button,
input {
  border: none;
  font-size: inherit;
  font-family: inherit;
}

.app {
  width: 100%;
  height: 100vh;
  min-width: 40rem;
  min-height: 60rem;

  box-sizing: border-box;

  @include themed() {
    border: 0.1rem solid rgba(144, 202, 249, 0.1);
  }

  display: grid;
  grid-template-rows: max-content 1fr;

  &__body {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
  }
}

::selection {
  @include themed() {
    color: set-color(t($color-primary), t($heading-text-color), #fff);
    background: t($color-primary);
  }
}
