// Shortcuts
$color-primary: "color-primary";
$color-secondary: "color-secondary";
$color-tertiary: "color-tertiary";
$color-error: "color-error";

$heading-text-color: "heading-text-color";
$body-text-color: "body-text-color";
$disabled-text-color: "disabled-text-color";

$surface-color-0: "surface-color-0";
$surface-color-2: "surface-color-2";
$surface-color-8: "surface-color-8";
$surface-color-16: "surface-color-16";
$surface-color-24: "surface-color-24";

$border-primary: "border-primary";

$shadow-primary: "shadow-primary";

// Themes
$themes: (
  light: (
    color-primary: $color-primary--light,
    color-secondary: $color-secondary--light,
    color-tertiary: $color-tertiary--light,
    color-error: $color-error--light,
    heading-text-color: $heading-text-color--light,
    body-text-color: $body-text-color--light,
    disabled-text-color: $disabled-text-color--light,
    surface-color-0: $surface-color-0--light,
    surface-color-2: $surface-color-2--light,
    surface-color-8: $surface-color-8--light,
    surface-color-16: $surface-color-16--light,
    border-primary: $border-primary--light,
    shadow-primary: $shadow-primary--light
  ),
  dark: (
    color-primary: $color-primary--dark,
    color-secondary: $color-secondary--dark,
    color-tertiary: $color-tertiary--dark,
    color-error: $color-error--dark,
    heading-text-color: $heading-text-color--dark,
    body-text-color: $body-text-color--dark,
    disabled-text-color: $disabled-text-color--dark,
    surface-color-0: $surface-color-0--dark,
    surface-color-2: $surface-color-2--dark,
    surface-color-8: $surface-color-8--dark,
    surface-color-16: $surface-color-16--dark,
    surface-color-24: $surface-color-24--dark,
    border-primary: $border-primary--dark,
    shadow-primary: $shadow-primary--dark
  )
);

// Mixin for Theming
@mixin themed {
  @each $theme, $map in $themes {
    html[data-theme="#{$theme}"] & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), "#{$key}");
        $theme-map: map-merge(
          $theme-map,
          (
            $key: $value
          )
        ) !global;
      }
      @content;
      $theme-map: null !global;
    }
  }
}

// Function to get Theme
@function t($key) {
  @return map-get($theme-map, $key);
}
