// $color-primary: #005b99;
// $color-error: #e81123;

// $color-text-primary: #54595a;
// $color-text-secondary: #888;

// $bg-color-primary: #ffffff;
// $bg-color-secondary: #f8f8f8;
// $bg-color-tertiary: #e6e6e6;

// $border-primary: #eee;
// $border-secondary: #ddd;

// $shadow-primary: hsla(204, 100%, 30%, 0.16);
// $shadow-secondary: hsla(204, 100%, 10%, 0.16);
// $shadow-tertiary: rgba(0, 0, 0, 0.16);

$color-primary: #90caf9;
$color-error: #e81123;

$color-text-primary: #e0e1e2;
$color-text-secondary: #a0a4a7;

$bg-color-primary: #222c33;
$bg-color-secondary: #2c363d;
$bg-color-tertiary: #131d24;
$surface-16: #343e45;

$border-primary: #2c363d;
$border-secondary: #131d24;

$shadow-primary: #131d24;
$shadow-secondary: #131d24;
$shadow-tertiary: #131d24;
