$color-primary: #2196f3;
$color-error: #e81123;

$heading-text-color: #212121;
$body-text-color: #666666;
$disabled-text-color: #9e9e9e;

$surface-color-0: #d7dbde;
$surface-color-2: #e0e4e7;
$surface-color-8: #f0f4f7;
$surface-color-16: #ffffff;

$border-primary: $surface-color-8;

$shadow-primary: rgba($heading-text-color, 0.16);

// $color-primary: #90caf9;
// $color-error: #e81123;

// $heading-text-color: #e0e1e2;
// $body-text-color: #a0a4a7;
// $disabled-text-color: #6d7277;

// $surface-color-0: #131d24;
// $surface-color-2: #222c33;
// $surface-color-8: #2c363d;
// $surface-color-16: #343e45;

// $border-primary: $surface-color-8;

// $shadow-primary: #131d24;
