// Light Theme Variables
$color-primary--light: #005b99;
$color-error--light: #e81123;

$heading-text-color--light: #212121;
$body-text-color--light: #666666;
$disabled-text-color--light: #9e9e9e;

$surface-color-0--light: #d7dbde;
$surface-color-2--light: #e0e4e7;
$surface-color-8--light: #f0f4f7;
$surface-color-16--light: #ffffff;

$border-primary--light: $surface-color-8--light;

$shadow-primary--light: rgba($heading-text-color--light, 0.2);

// Dark Theme Variables
$color-primary--dark: #90caf9;
$color-error--dark: #e81123;

$heading-text-color--dark: #e0e1e2;
$body-text-color--dark: #a0a4a7;
$disabled-text-color--dark: #6d7277;

$surface-color-0--dark: #131d24;
$surface-color-2--dark: #222c33;
$surface-color-8--dark: #2c363d;
$surface-color-16--dark: #343e45;

$border-primary--dark: $surface-color-8--dark;

$shadow-primary--dark: #131d24;
