.config {
  width: 100%;
  height: 100%;
  margin: 0 auto;

  @include themed() {
    background: set-color(
      t($color-primary),
      t($surface-color-2),
      t($surface-color-16)
    );
  }

  display: grid;
  grid-template-rows: 53.3rem 1fr;
  z-index: 10;

  &__body {
    padding: 0 3.2rem;
  }

  &__nav {
    display: grid;
    position: relative;

    width: 33.6rem;
    height: 3.6rem;
    margin: 0 auto;
  }

  &__sliders {
    display: grid;
    grid-row-gap: 3.2rem;
  }

  &__button-wrapper {
    width: 100%;
    height: 4.2rem;
    margin-top: 4rem;
    margin-bottom: 1rem;
  }
}

.nav {
  width: 100%;
  height: 3.2rem;

  display: flex;
  align-items: center;

  &__timer,
  &__setting,
  &__key {
    width: 50%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: all 0.3s;

    &.active {
      svg {
        @include themed() {
          color: t($color-primary);
        }
      }
    }

    &:hover &--icon {
      @include themed() {
        color: t($color-primary);
      }
    }

    &--icon {
      width: 1.6rem;
      height: 1.6rem;
      fill: currentColor;

      transition: all 0.3s;
    }
  }

  &__key {
    &--icon {
      width: 2.4rem;
      height: 1.6rem;
      fill: currentColor;

      transition: all 0.3s;
    }
  }
}

.active-indicator {
  width: 50%;
  height: 1rem;

  position: absolute;
  bottom: -0.6rem;
  border-radius: 0.3rem;

  @include themed() {
    background: t($color-primary);
  }
}

.section-header {
  font-size: 1.2rem;
  @include themed() {
    color: t($body-text-color);
  }
}

.keyboard {
  margin-top: 3.2rem;
}
