.config {
  width: 100%;
  height: 100%;

  position: absolute;
  top: 0;
  left: 0;

  user-select: none;

  @include themed() {
    background: set-color(
      t($color-primary),
      rgba(t($surface-color-2), 0.8),
      rgba(t($surface-color-16), 0.8)
    );
    backdrop-filter: blur(1rem);
  }

  display: grid;
  grid-template-rows: max-content 1fr;
  z-index: 10;

  will-change: opacity, transform;

  &__body {
    padding: 0 3.2rem;
  }

  &__nav {
    display: grid;
    position: relative;
    align-self: end;

    width: 33.6rem;
    height: 3.6rem;
    margin: 0 auto;
  }

  &__sliders {
    display: grid;
    grid-row-gap: 3.2rem;
  }

  &__button-wrapper {
    width: 100%;
    height: 4.2rem;
    margin-top: 4rem;
    margin-bottom: 1rem;
  }
}

.nav {
  width: 100%;
  height: 3.2rem;

  display: flex;
  align-items: center;

  &__timer,
  &__setting {
    width: 50%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: all 0.3s ease;

    &:hover,
    &.active {
      @include themed() {
        color: t($color-primary);
      }
    }

    &--icon {
      width: 1.6rem;
      height: 1.6rem;
      fill: currentColor;
    }
  }

  &__key {
    &--icon {
      width: 2.4rem;
      height: 1.6rem;
      fill: currentColor;
    }
  }
}

.active-indicator {
  width: 50%;
  height: 1rem;

  position: absolute;
  bottom: -0.6rem;
  border-radius: 0.3rem;

  @include themed() {
    background: t($color-primary);
  }
}

.section-header {
  font-size: 1.2rem;
  @include themed() {
    color: t($body-text-color);
  }
}

.keyboard {
  margin-top: 3.2rem;
}

.btn-restore {
  padding: 0.2rem 0.8rem;
}

.rules,
.setting {
  width: calc(100% - 6.4rem);
  height: 100%;

  padding: 0 3.2rem;

  position: absolute;
  top: 0;
  left: 0;
  will-change: opacity, transform;
}
