.counter {
  position: absolute;
  width: max-content;
  height: max-content;
  @include themed() {
    background: set-color(
      t($color-primary),
      t($surface-color-2),
      t($surface-color-16)
    );
  }
}
