.counter {
  width: inherit;
  height: inherit;
  min-width: max-content;
  min-height: max-content;

  position: absolute;

  display: grid;
  align-items: center;

  @include themed() {
    background: set-color(
      t($color-primary),
      t($surface-color-2),
      t($surface-color-16)
    );
  }
}
