name: Test Build Tauri

on:
  push:
jobs:
  build:
    name: "Test Build"

    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        include:
          - os: ubuntu-20.04
            name: linux
          - os: macos-latest
            name: mac
          - os: windows-latest
            name: win

    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js 18.x
        uses: actions/setup-node@v2
        with:
          node-version: 16.x
          cache: "yarn"
      - name: install Rust stable
        uses: dtolnay/rust-toolchain@stable
      - name: install dependencies (ubuntu only)
        if: matrix.os == 'ubuntu-20.04'
        run: |
          sudo apt-get update
          sudo apt-get install -y libwebkit2gtk-4.1 build-essential curl wget file libssl-dev libgtk-3-dev libayatana-appindicator3-dev librsvg2-dev javascriptcoregtk-4.1
      - name: Install NPM Packages
        run: |
          yarn install --immutable --network-timeout 120000
      - name: Build
        run: yarn build:tauri
      # Possibly set up some basic unit testing just to make sure parts render and none of the libraries are straight up breaking
      - uses: actions/upload-artifact@v2
        with:
          name: built-app-${{ matrix.name }}
          path: |
            app/tauri/target/release/bundle/deb/*.deb
            app/tauri/target/release/bundle/appimage/*.AppImage
            app/tauri/target/release/bundle/msi/*.msi
            app/tauri/target/release/bundle/dmg/*.dmg
            app/tauri/target/release/bundle/macos/*.app
