name: Deploy Website
on:
  workflow_dispatch:
  workflow_call:
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js 18.x
        uses: actions/setup-node@v3
        with:
          node-version: 18.x
          cache: "yarn"
      - name: Install NPM Packages
        run: cd website && yarn install --immutable
      - name: Build Website
        env:
          PREFIX_PATHS: "true"
          GOOGLE_VERIFICATION: "tE350sFqE19zPIz-admWd81Y-esA4VplEQYBOwS--L4"
          GA_TRACKING_ID: "UA-172128342-1"
        run: cd website && yarn build
      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          # Build output to publish to the `gh-pages` branch:
          publish_dir: ./website/public
