$color-primary: #005b99;
$color-error: #e81123;

$color-text: #54595a;

$bg-color-primary: #ffffff;
$bg-color-secondary: #f8f8f8;
$bg-color-tertiary: #e6e6e6;

$border-primary: #eee;

$shadow-primary: hsla(204, 100%, 30%, 0.16);
